* {
  margin: 0%;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #8b4513;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
  transition: 0.5s;
}
.header:hover {
  box-shadow: 0px 5px 20px rgb(0, 0, 0, 0.6);
}
.headerstart {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f4e4bc;
  transition: 0.5s;
}
.headerstart:hover {
  padding: 15px;
}
.headerend {
  display: flex;
  align-items: center;
  gap: 20px;
}
#aa {
  color: #f4e4bc;
  text-decoration: none;
  transition: 0.5s;
}
#aa:hover {
  color: #d4af37;
}
.home {
  color: #f4e4bc;
  font-size: 30px;
  height: 100vh;
  background-image: linear-gradient(
      rgba(139, 69, 19, 0.7),
      rgba(101, 67, 33, 0.7)
    ),
    url("images/homebackground.avif");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.home h1,
p {
  margin-left: 30px;
  margin-right: 30px;
}
.homebutton {
  background-color: #d4af37;
  padding: 15px 30px;
  border: 0;
  border-radius: 10px;
}
.about {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#ourstory {
  font-size: 40px;
  display: flex;
  justify-content: center;
}
h3 {
  color: #8b4513;
}
.about1 {
  display: flex;
}
.aboutbox{
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
}
